* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #ffffff;
    padding-top: 72px;
}
/* Navbar */
.navbar {
    height: 72px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    position: fixed;
    top: 0;         
    left: 0;              
    width: 100%;          
    z-index: 1000;
}
/* HAMBURGER BUTTON */
.menu-toggle {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
}
/* MOBILE SLIDE MENU */
.mobile-menu {
  position: fixed;
  top: 72px;
  left: -100%;
  width: 240px;
  height: calc(100vh - 72px);
  background: #ffffff;
  padding: 30px 20px;
  transition: 0.3s ease;
  z-index: 999;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}
.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.mobile-menu a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
/* ACTIVE STATE */
.mobile-menu.active {
  left: 0;
}

/* Logo */
.logo {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #6b7280;
}

.nav-links a:hover {
    color: #000000;
}

/* Button */
.quote-btn {
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    cursor: pointer;
    color: #111827;
}

.quote-btn:hover {
    background-color: #f9fafb;
}
/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 120px;
}

/* Left Content */
.hero-left {
    max-width: 520px;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 24px;
}

.hero-left p {
    font-size: 14px;
    line-height: 1.8;
    color: #6b7280;
    margin-bottom: 32px;
}

/* Button */
.hero-btn {
    background-color: #111827;
    color: #ffffff;
    padding: 14px 24px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.hero-btn:hover {
    opacity: 0.9;
}
.hero-image img {
  max-width: 520px;
  width: 100%;
  height: auto;
}
/* Brand section */
.brands {
    background-color: #ffffff;
    padding: 32px 0;
}
/* Container */
.brands-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Single brand */
.brand img {
    height: 28px;          
    width: auto;
    opacity: 0.6;          
    filter: grayscale(100%);
    transition: all 0.3s;
}
.brand img:hover {
    opacity: 1;
    filter: grayscale(0);
}
/* SERVICES */
.services {
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.services-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.badge-service {
  background: #b9ff66;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 30px;
}

.services-header p {
  max-width: 700px;
  font-size: 15px;
  color: #444;
}

/* Grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* Cards */
.service-card {
  border-radius: 24px;
  padding: 32px;
  min-height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Variants */
.service-card.light {
  background: #f3f3f3;
}

.service-card.green {
  background: #b9ff66;
}

.service-card.dark {
  background: #191a23;
  color: #fff;
}

/* Text */
.card-text h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.learn-more {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.learn-more .arrow {
  background: #000;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.learn-more.dark {
  color: #000;
}

.service-card.dark .learn-more {
  color: #fff;
}
.service-card.dark .arrow {
  background: #fff;
  color: #000;
}

/* Icon */
.card-icon img {
  width: 210px;
  height: 170px;
}
.title-bg {
  padding: 4px 10px;
  border-radius: 6px;
  display: inline-block;
  font-weight: 700;
}

/* Colors */
.bg-green {
  background: #b9ff66;
  color: #000;
}

.bg-white {
  background: #ffffff;
  color: #000;
}
.title-bg br {
  display: block;
  margin-bottom: 6px;
}
/* CTA SECTION */
.cta-section {
    max-width: 1200px;
    margin: 80px auto;
    padding: 50px 60px;
    background-color: #f5f5f5;
    border-radius: 30px;
    display: flex; 
    align-items: center;
   justify-content: space-between;
    gap: 40px;
    position: relative;
    overflow: visible;
}
/* LEFT CONTENT */
.cta-content {
    max-width: 500px;
}
.cta-content h2 {
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
}
.cta-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 30px;
}
/* BUTTON */
.cta-btn {
    display: inline-block;
    padding: 14px 28px;
    background-color: #111111;
    color: #ffffff;
    text-decoration: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s ease;
}

.cta-btn:hover {
    background-color: #000000;
}
/* RIGHT ILLUSTRATION */
.cta-illustration img {
 /* position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    max-width: none;
    width: 520px; */
    position: static;
    width: 420px;
    max-width: 100%;
    height: auto;
}
/*                CASE STUDIES                     */
/* SECTION */
.case-studies-section {
    max-width: 1200px;
    margin: 100px auto;
}
/* HEADER */
.case-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.badge-case {
    background-color: #b9ff66;
    color: #000000;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 600;
}
.case-header p {
    font-size: 14px;
    line-height: 1.5;
    color: #555555;
}
/* CARD */
.case-card {
    background-color: #111317;
    border-radius: 28px;
    padding: 45px 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
/* ITEMS */
.case-item {
    max-width: 280px;
}
.case-item p {
    font-size: 14px;
    line-height: 1.6;
    color: #e0e0e0;
    margin-bottom: 22px;
}
/* LINK */
.case-item a {
    font-size: 14px;
    color: #b9ff66;
    text-decoration: none;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}
.case-item a span {
    font-size: 16px;
}
/* DIVIDER */
.divider {
    width: 1px;
    height: 120px;
    background-color: rgba(255,255,255,0.2);
}
/*                          WORKING PROCESS                          */
/* SECTION */
.process-section {
    max-width: 1100px;
    margin: 100px auto;
}
/* HEADER */
.process-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.badge-working {
    background-color: #b9ff66;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 600;
    color: #000;
}
.process-header p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}
/* LIST */
.process-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
/* ITEM */
.process-item {
    border: 2px solid #1c1c1c;
    border-radius: 22px;
    padding: 26px 30px;
    background-color: #ffffff;
    transition: 0.3s ease;
    cursor: pointer;
}

/* HOVER GREEN */
.process-item:hover {
    background-color: #b9ff66;
}
/* ACTIVE */
.process-item.active {
    background-color: #b9ff66;
}
/* TOP */
.process-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.process-top h3 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    display: flex;
    gap: 14px;
    align-items: center;
}
.process-top h3 span {
    font-size: 26px;
    font-weight: 700;
}
/* ICON */
.icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1.5px solid #000;
    background: #fff;
    font-size: 18px;
    cursor: pointer;
}
/* TEXT */
.process-text {
    margin-top: 18px;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    max-width: 900px;
}
/*                          TEAM SECTION                                                         */
.team {
  max-width: 1200px;
  margin: 100px auto;
  font-family: "Inter", sans-serif;
}
.team-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.team-badge {
  background: #b9ff66;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 30px;
}
.team-header p {
  max-width: 600px;
  font-size: 14px;
  color: #444;
}
.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.team-card {
  border: 2px solid #191a23;
  border-radius: 24px;
  padding: 24px;
}
.team-card hr {
  margin: 14px 0;
}
.team-card p {
  margin: 0;
}
.card-header {
  display: flex;
  justify-content: space-between;
}
.profile {
  display: flex;
  gap: 14px;
  align-items: center;
}
.img-wrap {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info h3 {
  font-size: 18px;
  font-weight: 700;
}
.info span {
  font-size: 14px;
  color: #555;
}
.linkedin {
  width: 28px;
  height: 28px;
  background: #191a23;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.team-card hr {
  margin: 18px 0;
  border: none;
  border-top: 1px solid #ccc;
}
.team-card p {
  font-size: 13px;
  color: #444;
  line-height: 1.6;
  margin: 8px 0 0;
}
.team-btn {
  margin-top: 40px;
  float: right;
  background: #191a23;
  color: #fff;
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
/*                                TESTIMONALS SECTION                    */
/* SECTION */
.testimonials-section {
    max-width: 1200px;
    margin: 100px auto;
}
/* HEADER */
.testimonials-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.badge-testimonals {
    background: #b9ff66;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 600;
}
.testimonials-header p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}
/* CARD */
.testimonials-card {
    background: #14161c;
    border-radius: 32px;
    padding: 60px 0 40px;
    overflow: hidden;
}
.slider {
    display: flex;
    gap: 40px;
    transform: translateX(-180px);
}
/* BUBBLE */
.bubble {
    min-width: 420px;
    padding: 30px 32px;
    border: 1.5px solid #b9ff66;
    border-radius: 24px;
    position: relative;
    color: #e5e5e5;
}
.bubble::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 60px;
    width: 18px;
    height: 18px;
    background: #14161c;
    border-left: 1.5px solid #b9ff66;
    border-bottom: 1.5px solid #b9ff66;
    transform: rotate(45deg);
}
.bubble.active {
    min-width: 480px;
}
.bubble p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 22px;
}
/* AUTHOR */
.author span {
    color: #b9ff66;
    font-size: 14px;
    font-weight: 600;
}
.author small {
    display: block;
    font-size: 12px;
    color: #aaaaaa;
}
/* NAV */
.nav {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: #b9ff66;
}
.testimonial-arrow {
    font-size: 22px;
    cursor: pointer;
}
.dots {
    display: flex;
    gap: 8px;
}
.dot {
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    opacity: 0.6;
}
.dot.active {
    background: #b9ff66;
    opacity: 1;
}
/*                             CONTACT US                                   */

/* SECTION */
.contact-section {
    max-width: 1200px;
    margin: 100px auto;
}
/* HEADER */
.contact-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.badge-contact {
    background: #b9ff66;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 600;
    color: #000;
}
.contact-header p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}
/* CARD */
.contact-card {
    background: #f4f4f4;
    border-radius: 32px;
    padding: 60px;
    display: flex;
    position: relative;
    overflow: visible;
}
/* FORM */
.contact-form {
    width: 420px;
}
/* RADIO */
.radio-group {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.radio-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
}
.radio-group input {
    display: none;
}
.radio-group span {
    width: 16px;
    height: 16px;
    border: 1.5px solid #000;
    border-radius: 50%;
    position: relative;
}
.radio-group input:checked + span::after {
    content: "";
    width: 8px;
    height: 8px;
    background: #b9ff66;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* FIELDS */
.field {
    margin-bottom: 20px;
}
.field label {
    font-size: 13px;
    display: block;
    margin-bottom: 6px;
}
.field input,
.field textarea {
    width: 100%;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1.5px solid #999;
    font-size: 14px;
    background: #fff;
}
.field textarea {
    height: 110px;
    resize: none;
}
/* BUTTON */
.submit-btn {
    width: 100%;
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #14161c;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
/* ILLUSTRATION */
.contact-illustration {
    position: absolute;
    right: -280px;
    top: 50%;
    transform: translateY(-50%);
}
.contact-illustration img {
    width: auto;
    height: 50%;
    max-width: none;
}
/*                               FOOTER                                  */
.footer {
  background: #191a23;
  color: #fff;
  padding: 40px 60px;
  border-radius: 24px 24px 0 0;
  font-family: "Inter", sans-serif;
}
/* TOP NAV */
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer-logo {
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
}
.star {
  color: #fff;
}
.footer-nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
  font-size: 14px;
  color: #d1d1d1;
}
.socials {
  display: flex;
  gap: 14px;
}
.socials i {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  color: #191a23;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
/* CONTENT */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
/* LEFT */
.contact {
  max-width: 420px;
}
.contact-badge {
  display: inline-block;
  background: #b9ff66;
  color: #000;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 600;
  margin-bottom: 16px;
}
.contact p {
  font-size: 14px;
  color: #d1d1d1;
  margin: 10px 0;
  line-height: 1.6;
}
/* RIGHT */
.newsletter {
  background: #2b2c34;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  gap: 16px;
}
.newsletter input {
  background: transparent;
  border: 1px solid #6b6b6b;
  border-radius: 10px;
  padding: 14px 16px;
  width: 260px;
  color: #fff;
  font-size: 14px;
}
.newsletter input::placeholder {
  color: #aaa;
}
.newsletter button {
  background: #b9ff66;
  border: none;
  border-radius: 10px;
  padding: 14px 20px;
  font-weight: 600;
  cursor: pointer;
}
/*  FOOTER DIVIDER */
.footer-divider {
  height: 1px;
  background: #3a3b44;
  margin: 40px 0 20px;
}
/* BOTTOM */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #aaa;
}
.footer-bottom a {
  color: #aaa;
  text-decoration: underline;
}
/*                 responsive                                     */
@media (max-width: 1024px) {

  .hero {
    padding: 80px 40px;
  }
  .contact-illustration {
    display: none;
  }
  .services-grid {
    grid-template-columns: 1fr;
  }
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .case-card {
    flex-direction: column;
    gap: 30px;
  }
  .divider {
    display: none;
  }
  .slider {
    transform: none;
    overflow-x: auto;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  section {
  padding-left: 16px ;
  padding-right: 16px ; 
 }
  .nav-links,
  .quote-btn {
    display: none;
  }
  .menu-toggle {
    display: block;
    order: 1;
    position: absolute;
    right: -115px;
  }
  .navbar {
    padding: 0 20px;
    justify-content: flex-start;
    gap: 14px;
  }
  .logo {
    order: 2;
    }
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 120px 20px 60px;
  }
  .hero-left {
    max-width: 100%;
  }
  .hero-left h1 {
    font-size: 32px;
    line-height: 1.3;
  }
  .hero-left p {
    font-size: 15px;
    line-height: 1.7;
  }
  .hero-image img{
     max-width: 260px;
    margin: 0 auto;
    display: block;
  }
   .cta-section {
    /* flex-direction: column; */
    flex-direction: row;
    /* text-align: center; */
    text-align: left;
     padding: 40px 24px;
  }
  .cta-content {
    /* max-width: 100%; */
    /* order: 1;
     position: relative;
    z-index: 2; */
    flex: 1;
  }
  .cta-illustration {
    /* order: 2;
    position: static;
    transform: none;
    display: flex;
    justify-content: center; */
    /* margin-top: 32px; */
    flex: 1;
    margin-top: 0;
  }
  .cta-illustration img {
    /* width: 240px;
    max-width: 100%;
    height: auto;
     position: static;
     z-index: 1; */
     width: 200px;
     position: absolute;
     margin-top: -125px;
     height: 200px;
  }
   button,
  .hero-btn,
  .cta-btn {
    width: 100%;
    padding: 14px;
    font-size: 15px;
  }
  .brands-container {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .services-header,
  .case-header,
  .process-header,
  .team-header,
  .testimonials-header,
  .contact-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .team-grid {
    grid-template-columns: 1fr;
  }
  .contact-card {
    flex-direction: column;
    padding: 40px 24px;
  }
  .contact-form {
    width: 100%;
  }
  .footer {
    padding: 40px 24px;
  }
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .newsletter {
    width: 100%;
    flex-direction: column;
  }
  .newsletter input {
    width: 100%;
  }
  .footer-nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .footer-nav-links {
    flex-wrap: wrap;
    gap: 14px;
  }
  .socials {
    margin-top: 10px;
  }
}
html, body {
  overflow-x: hidden;
}

